/*IMPORT RESET*/
@import "reset";
/*IMPORT GENERAL*/
@import "nav";
@import "footer";


/*IMPORT INTEGRANTES*/
@import "integrantes/integrantes";






















/*//////////////////////////////////////////////////////*/
/*EDICIÓN BANNER*/
.portada__IMG {
    width: 100%;
    height: 100vh;
}

/*PARRAFO DESCRIPTIVO*/
.container-info-portada__p {
    font-size: 24px;
    text-align: justify;
}


/*/////////////////////////////////////////////////////*/
/*SECTION HIT*/
.container__HIT-MUSICAL {
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(218, 222, 226, 0.527);
    border: 1px solid rgba(51, 48, 48, 0.342);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 320px;
    align-items: center;
}

.container-hit-musical-box1__H1 {
    font-family: 'Handjet', cursive;
    font-size: 45px;
}
.container-hit-musical-box1__P {
    font-size: 18px;
}
.container-hit-musical-box1__IMG {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
}






/*///////////////////////////////////////////////////////////*/
/*PÁGINA ALBUMES*/
.container-albumes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.album1 {
    width: 348px;
    display: grid; 
    margin: 5px;
    grid-template-columns: repeat(3, 116px); 
    grid-template-rows: 300px 80px 300px 50px; 
    grid-template-areas: 
    "album-container__img album-container__img album-container__img"
    "album-container__titulo album-container__titulo album-container__titulo"
    "album-container__parrafo-canciones album-container__parrafo-canciones album-container__parrafo-canciones"
    "box-vista1 box-vista2 box-vista3"; 
    background-color: rgb(214, 230, 230);
    border-radius: 15px 15px 0 0;
    padding-bottom: 10px;

backdrop-filter: blur(5px) saturate(149%);
    -webkit-backdrop-filter: blur(5px) saturate(149%);
    background-color: rgba(17, 25, 40, 0.44);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: .5s;
}
.album1:hover {
    box-shadow: 4px 9px 35px -4px rgba(0,0,0,0.77);
-webkit-box-shadow: 4px 9px 35px -4px rgba(0,0,0,0.77);
-moz-box-shadow: 4px 9px 35px -4px rgba(0,0,0,0.77);
transition: .5s;
}

.album-container__img {
    grid-area: album-container__img;
}
.album__img {
    width: 348px;
    height: 300px;
    border-radius: 15px;
}
/*//////////////////////////////////////////////////////////*/
.album-container__titulo {
    grid-area: album-container__titulo;
    text-align: center;
}
.album-container__titulo h2 {
    font-size: 35px;
}
.album-container__titulo p {
    font-size: 18px;
}
/*//////////////////////////////////////////////////////////*/
.album-container__parrafo-canciones {
    grid-area: album-container__parrafo-canciones;
    padding: 0 15px;
}
.album-container__parrafo-canciones p{
    text-align: justify;
}
/*//////////////////////////////////////////////////////////*/
.box-vista1 {
    grid-area: box-vista1;
    text-align: center;
    border-right: 1px solid black;
    
}
.box-vista2 {
    grid-area: box-vista2;
    text-align: center;
    border-right: 1px solid black;
}
.box-vista3 {
    grid-area: box-vista3;
    text-align: center;
}
.album-container__vistas ul li {
    display: flex;
    text-align: center;
}
